#################################################################
## Home Assistant - Core Configuration
#################################################################

homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret secret_latitude
  longitude: !secret secret_longitude
  elevation: !secret secret_elevation
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  customize: !include customize.yaml

# Enables the frontend
frontend:
  extra_html_url:
    - /local/hass-bha-icons.html

# Checks for available updates
updater:
  reporting: no

# Track the sun
sun:

# Discovery of devices automatically if supported
discovery:

# Config options for system and discovery devices
config:
person:
system_health:
mobile_app:
ssdp:
zeroconf:
http:
  base_url: !secret secret_base_url
  ssl_certificate: !secret secret_ssl_certificate
  ssl_key: !secret secret_ssl_key


#################################################################
## Components
#################################################################

# Custom Logging Setting

#logger:
#   default: info
#   logs:
#    homeassistant.components.device_tracker.nmap_tracker: debug

#logger:
#  default: info
#  logs:
#    aiounifi: debug
#    homeassistant.components.unifi: debug
#    homeassistant.components.device_tracker.unifi: debug
#    homeassistant.components.switch.unifi: debug

## VERA DEBUG
#logger:
#  default: info
#  logs:
#    pyvera: 'debug'
#    homeassistant.components.vera: 'debug'

hue:
  bridges:
  - host: REDACTED.32
    allow_unreachable: true
    allow_hue_groups: false

remote:
  - platform: harmony
    name: Media Center
    host: REDACTED.12

map:

# Enables support for tracking state changes over time.
history:

tts:
  - platform: google_translate

# InfluxDB / Grafana Long Term Data Retention Test
influxdb:
  host: REDACTED.100
  database: telegraf
  include:
    entities:
      - sensor.home_temperature
      - sensor.master_bedroom_temperature
      - sensor.basement_temperature
      - sensor.USER3_bedroom_temperature
      - sensor.USER4_bedroom_temperature
      - sensor.home_humidity
      - sensor.dark_sky_humidity
      - sensor.dark_sky_temperature
      - sensor.washing_machine_current_power
      - sensor.air_cleaner_current_power
      - sensor.golf_cart_current_power
      - sensor.biocube_heater_current_power
      - sensor.biocube_pump_current_power
      - sensor.biocube_lights_current_power
      - sensor.lift_station_activations_daily
      - sensor.e6_1_ct1_lift_station_watts
      - sensor.e6_1_ct2_aerator_watts
      - sensor.biocube_ph
      - sensor.biocube_ammonia
      - sensor.biocube_nitrite
      - sensor.biocube_nitrate
      - sensor.biocube_calcium
      - sensor.biocube_temp
#      - sensor.thermostat_current_status
#      - sensor.thermostat_aux_heat
#      - sensor.ups_load
#      - sensor.nas_cpu_usage
#      - sensor.nas_memory_usage
#      - sensor.nas_volume_used_storage
#      - sensor.nas_volume_used_backup
#      - sensor.nas_system_temperature
#      - sensor.front_door_battery
#      - sensor.basement_door_battery
#      - sensor.basement_motion_battery
#      - sensor.pantry_door_battery
#      - sensor.basement_water_sensor_battery

#      - sensor.nanopool_hashrate
#      - sensor.nanopool_balance
#      - binary_sensor.wan
#      - binary_sensor.gateway
#      - binary_sensor.REDACTED_vpn

# VeraPlus controller to replace wink
#vera:
#  vera_controller_url: http://REDACTED.6:3480/

# Stream Componant
stream:

# WeMo
wemo:
  static:
    - REDACTED.188
    - REDACTED.198
    - REDACTED.148
    - REDACTED.74
#    - REDACTED.85  # Christmas
#    - REDACTED.86  # Christmas  

#tuya:
#  username: !secret secret_tuya_username
#  password: !secret secret_tuya_password
#  country_code: 1

# Weather
weather:
  - platform: darksky
    api_key: !secret secret_darksky_api_key
    mode: daily

#goalfeed:
#  username: !secret secret_goalfeed_username
#  password: !secret secret_goalfeed_password

## Lutron Caseta Pro - Custom Componant
lutron_caseta_pro:
    bridges:
      - host: REDACTED.82
        mac: REDACTED
        default_transition_seconds: 1.0
        # Note: Configure only switches, shades, and fans, all others will be dimmers
        fan: [ 4 ]

#roomba:
#  - host: REDACTED.150
#    blid: !secret secret_roomba_username
#    password: !secret secret_roomba_password

### Ecobee Key Not needed after first restart and setup
#ecobee:
#  api_key: !secret secret_ecobee_apikey
#  hold_temp: true

# Nest
nest:
  client_id: !secret secret_nest_clientid
  client_secret: !secret secret_nest_secret

#pi_hole:
#  host: REDACTED.4

################################################################
## Media Players
################################################################

#plex:
#  host: REDACTED.100
#  token: !secret secret_plex_token

#################################################################
## Alarm Panel - Envisalink-DSC
#################################################################

envisalink:
#optional
  port: 4025
  evl_version: 4
  keepalive_interval: 60
  zonedump_interval: 30
#required
  host: !secret secret_envisalink_host
  panel_type: DSC
  user_name: !secret secret_alarm_user_name
  password: !secret secret_alarm_password
  code: !secret secret_alarm_code

  zones:
    1:
      name: 'Garage Entry Door'
      type: 'opening'

    2:
      name: 'Garage Back Door'
      type: 'opening'

    3:
      name: 'Front Door'
      type: 'opening'

    4:
      name: 'Back Door'
      type: 'opening'


  partitions:
    1:
      name: 'Home Alarm'


######## Timer ########

timer:
  alarm_kitchen_sink_water_sensor:
    duration: '00:00:15'
  animate_outside_timer:
    duration: '00:00:20'

# Counters
counter:
  lift_station_activations_counter:
    name: 'Lift Station Activations'
    initial: 0
    step: 1
    icon: mdi:counter
  lift_station_activations_counter_current_day:
    name: 'Lift Station Activations Current Day'
    initial: 0
    step: 1
    icon: mdi:counter
  lift_station_activations_counter_last_day:
    name: 'Lift Station Activations Last Day'
    initial: 0
    step: 1
    icon: mdi:counter



######## Input DateTime ########

input_datetime:
  USER2_wakeup_time:
    name: USER2 Wakeup Time
    has_date: false
    has_time: true
  USER3_wakeup_time:
    name: USER3 Wakeup Time
    has_date: false
    has_time: true    
  USER4_wakeup_time:
    name: USER4 Wakeup Time
    has_date: false
    has_time: true
  biocube_media_date:
    name: Biocube Media Install Date
    has_date: true
    has_time: false

######## INCLUDES ########
automation: !include_dir_merge_list automation
logbook: !include logbook.yaml
recorder: !include recorder.yaml
group: !include groups.yaml
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
camera: !include camera.yaml
input_boolean: !include input_boolean.yaml
input_select: !include input_select.yaml
input_number: !include input_number.yaml
light: !include light_group.yaml
script: !include scripts.yaml
scene: !include_dir_merge_list scene
ios: !include ios.yaml
switch: !include switch.yaml
emulated_hue: !include emulated_hue.yaml
